



/* ******************************** HEADER ********************************* */

.headerBackground{
    background-color: white;
}

/*
.imageViewLogo{
    image: url("../../images/receiptManager/koreanikaNewLogo.png");
}
*/

.labelTextField{
    text-fill: #4F5F56;
    font-family: "Segoe UI Semibold";
    font-size: 12px;
    pref-height: 25px;
}




.labelBlack{
    text-fill: black;
    font-family: "Segoe UI Semibold";
    font-size: 12px;
    pref-height: 25px;
}

.labelAddress{
    text-fill: black;
    font-family: "Segoe UI";
    font-size: 10px;
}

.labelCurrency{
    border-color: transparent transparent #8C8C8C transparent;
    border-width: 2px;
    border-radius: 4px;
    alignment: center;
    pref-height: 25px;
    text-fill: black;
}

.textFieldData{
    pref-height: 25px;

}



.textFieldDocName{
    border-color: transparent;
    border-radius: 6px 6px 0 0;
    background-radius: 6px 6px 0 0;
    background-color: #EDEBE9;
    background-image: url(../../images/receiptManager/backgroundPattern1.png);
    background-size:600px;
}
/* ******************************** HEADER ********************************* */


.labelTableHeader{
    background-color: #EDEBE9;
    text-fill: black;
    font-family: "Segoe UI Semibold";
    font-size: 12px;
    alignment: center;
}

.labelTableHeader-2{
    background-color: white;
    text-fill: black;
    font-family: "Segoe UI Semibold";
    font-size: 12px;
    alignment: center;
}

.labelStoneProduct, .labelProduct{
    background-color: white;
    text-fill: black;
    font-family: "Segoe UI";
    font-size: 12px;
    alignment: center;
    text-alignment: center;
    wrap-text: true;
}

.labelStoneProductPrice, .labelProductPrice{
    background-color: white;
    text-fill: black;
    font-family: "Segoe UI Semibold";
    font-size: 12px;
    alignment: center;
}

.labelProduct-left{
    alignment: center-left;
}
.labelProduct-right{
    alignment: center-right;
}

.labelTableResult{
    background-color: #EDEBE9;
    text-fill: black;
    font-family: "Segoe UI";
    font-size: 12px;
    alignment: center-right;
}

.labelTableResultPrice{
    background-color: #EDEBE9;
    text-fill: black;
    font-family: "Segoe UI Semibold";
    font-size: 14px;
    alignment: center;
}

.labelTableResultEnd , .labelTableResultEndPrice{
    background-color: black;
    text-fill: white;
}

.labelTableResultEndPrice{
    font-size: 16px;

}

.labelLastRowTransparent{
    background-color: black;
    text-fill: white;
    border-width: 0;
    border-color: black;
}

#rootAnchorPane {
    padding: 0;
    /*background-color: MAIN_COLOR_DARK;*/
    background-color: #ffffff;
}

#anchorPaneIntoScrollPane{
    background-color: #ffffff;
    padding: 5px;
    /*padding: 0px;*/
}

#anchorPaneMenu, #anchorPaneResultMenu {
    background-color: BACKGROUND_COLOR_2;
    border-color: MAIN_COLOR_DARK;
    border-width: 1 0 0 0;
    padding: 0;

    background-image: url(../../images/background_header.png);
    background-size:1400px;

}

#gridPaneTop {
    grid-lines-visible: false;
    /*border-width:  0.5;*/

    hgap: 0;
    vgap: 0;
    alignment: center;

    background-repeat: repeat-y;
    background-position: left 160;
    /*background-size: 278px 464px;*/
    background-size: 600px 900px;

    /*background-color: null;*/
    background-color: #ffffff;
    /*background-color: red;*/
    padding: 0;
}


#btnDeleteRow {
    border-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    min-height: 25px;
    min-width: 25px;
    max-height: 25px;
    max-width: 25px;
    background-radius: 2.0px;
    background-color: null;
    background-image: url(../../icons/delete.png);
}

#btnDeleteRow:hover {
    background-color: #666666;
}

#btnDeleteRow:pressed {
    background-color: #878787;
}


#btnCurrencyUpdate, #btnCurrencyApply, #btnPrint, #btnAttachSketchImage, #btnDeleteSketchImage, #btnReceiptLog  {
    border-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    min-height: 25px;
    min-width: 25px;
    max-height: 25px;
    max-width: 25px;
    background-radius: 2.0px;
    background-color: null;

}

#btnPrintQuickly{

    text-fill: MAIN_TEXT_COLOR_3;
    background-color: none;
    border-width: 0;
    border-radius: 0;
    background-radius: 0;
    background-position: left center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    label-padding: 0px 0px 0px 20px;
}


#btnCurrencyUpdate:hover, #btnCurrencyApply:hover, #btnPrint:hover,
#btnAttachSketchImage:hover, #btnDeleteSketchImage:hover, #btnPrintQuickly:hover, #btnReceiptLog:hover {
    background-color:linear-gradient(to bottom, rgba(137, 183, 157, 0.4), rgba(137, 183, 157, 0.1));
    background-radius: 2px;
    border-radius: 2px;
    border-width: 1px;
    border-color: linear-gradient(to bottom, rgba(137, 183, 157, 0.4), rgba(137, 183, 157, 0.0));
}

#btnCurrencyUpdate:pressed, #btnCurrencyApply:pressed, #btnPrint:pressed,
#btnAttachSketchImage:pressed, #btnDeleteSketchImage:pressed, #btnPrintQuickly:pressed, #btnReceiptLog:pressed {
    background-color:linear-gradient(to bottom, rgba(137, 183, 157, 1), rgba(137, 183, 157, 0.4));
    background-radius: 2px;
    border-radius: 2px;
    border-width: 1px;
    border-color: linear-gradient(to bottom, rgba(137, 183, 157, 1), rgba(137, 183, 157, 0.0));
}

#btnCurrencyUpdate {
    background-image: url(../../icons/ReceiptManager/icons8_refresh_80px.png);
}
#btnCurrencyApply {
    background-image: url(../../icons/ReceiptManager/icons8_Done_80px.png);
}
#btnPrint {
    background-image: url(icons/print.png);
}

#btnReceiptLog {
    background-image: url(../../icons/ReceiptManager/icons8_log_240px.png);
}

#btnPrintQuickly {
    background-image: url(icons/toPDF.png);

}

#btnDeleteSketchImage {
    background-image: url(../../icons/ReceiptManager/icons8_Delete_100px.png);
}
#btnAttachSketchImage {
    background-image: url(../../icons/ReceiptManager/icons8_attach_80px.png);
}

#btnDeleteSketchImage {
    background-image: url(../../icons/ReceiptManager/icons8_Delete_100px.png);
}

#hBoxDetalizationMenu{
    alignment: center;
    spacing: 0;
    padding: 0;
    border-insets: 0;
}
#LabelDetalization{
    text-fill: TEXT_COLOR;
    border-width: 0;
    padding: 0 10 0 10;
}
#toggleButtonFullReceipt{
    border-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    min-height: 23px;
    min-width: 50px;
    max-height: 23px;
    max-width: 50px;
    background-radius: 0px 0px 0px 0px;
    background-color: null;
    background-image: url(icons/list_60px.png);
}
#toggleButtonShortReceipt{
    border-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
    min-height: 23px;
    min-width: 50px;
    max-height: 23px;
    max-width: 50px;
    background-radius: 0px 0px 0px 0px;
    background-color: null;
    background-image: url(icons/list_60px.png);
}

#toggleButtonFullReceipt:hover, #toggleButtonShortReceipt:hover{
    background-color:linear-gradient(to bottom, rgba(137, 183, 157, 0.4), rgba(137, 183, 157, 0.1));
    background-radius: 2px;
    border-radius: 2px;
    border-width: 1px;
    border-color: linear-gradient(to bottom, rgba(137, 183, 157, 0.4), rgba(137, 183, 157, 0.0));
}
#toggleButtonFullReceipt:selected, #toggleButtonShortReceipt:selected{
    background-color:linear-gradient(to bottom, rgba(137, 183, 157, 1), rgba(137, 183, 157, 0.4));
    background-radius: 2px;
    border-radius: 2px;
    border-width: 1px;
    border-color: linear-gradient(to bottom, rgba(137, 183, 157, 1), rgba(137, 183, 157, 0.0));
}


/*.label{*/
/*    alignment: center;*/
/*    text-alignment: center;*/
/*    font-size: 12;*/
/*    !*content-display: center;*!*/
/*    border-width: 1;*/
/*    border-style: solid centered;*/
/*    !*padding: 0 5 0 5;*!*/
/*    !*border-radius: 0;*!*/
/*    !*border-color: RECEIPT_BORDER_COLOR_2;*!*/
/*    wrap-text: true;*/
/*    text-fill: RECEIPT_COLOR_TEXT;*/
/*}*/

#labelUSDHeader, #labelEURHeader, #labelNotification{
    alignment: center-right;
    border-width: 0;
    text-fill: TEXT_COLOR;
}



#anchorPaneButtonsSketchImage{
    border-width: 0;
    border-style: solid inside;
}

#sketchPane{
     border-style: solid inside;
     border-width: 0;
     border-color: RECEIPT_BORDER_COLOR_2;
 }
#LabelDetalization{
    font-family: "Segoe UI";
    text-fill: white;
}

.label-divider{
    border-width: 0;
}

.hbox-printing{
    spacing: 5;
}