/*@import url("../rootTheme.css");*/

#anchorPaneRoot {
    -fx-padding: 0;
    -fx-background-color: transparent;


}

#labelMain {

    -fx-border-color: MAIN_TEXT_COLOR_0;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-border-style: solid centered;
    -fx-text-fill: MAIN_TEXT_COLOR_0;

    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 20px;
}

#labelNumber, #labelName, #labelImage, #labelMaterial, #labelDepth, #labelWidth, #labelHeight, #labelQuantity, #labelButtons, #labelPrice {
    -fx-border-color: MAIN_TEXT_COLOR_0;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-border-style: solid centered;
    -fx-text-fill: MAIN_TEXT_COLOR_0;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-smoothing-type: lcd;

}