



#labelIcon{
    -fx-background-image: url(../icons/main_window_settings.png);
    -fx-background-position: 0, 2, 2, 2;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20;
}
#labelHeader{

    -fx-padding: 0 0 0 5;
    -fx-font-weight: bold;
    -fx-font-size: 13;

    /*-fx-graphic: url(../icons/main_window_settings.png);*/


    -fx-content-display: left;


}
#hBoxTop{
    -fx-padding:  0 0 0 5;
    -fx-border-width: 0 0 1 0;
    /*-fx-border-color: BUTTON_BORDER;*/
}
#hBoxBottom{
    -fx-padding:  0 7 0 0;
    -fx-border-width: 1 0 0 0;
    /*-fx-border-color: MAIN_COLOR_BLACK;*/
}

.splitPane{
    -fx-background-color: white;
}


.list-view {
    -fx-background-color: transparent; /* Default color */
    -fx-padding: 0;



}

.list-cell {
    -fx-background-color: BACKGROUND_COLOR_5;
    -fx-text-fill: MAIN_TEXT_COLOR_0;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14px;
    -fx-height: 16px;
}

.list-cell:filled {
    -fx-background-color: transparent;
    -fx-border-color: none;
    /*-fx-padding: 0;*/
}

.list-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color: none;
    /*-fx-padding: 0;*/
}

.list-cell:filled:selected {
    -fx-background-color: #F3F2F1;
    -fx-text-fill: #8F7757;
    -fx-border-width: 0 0 0 2px;
    -fx-border-color: #89B79D;
}
.list-cell:filled:selected > #labelPriceMaterialInList {
    -fx-text-fill: #8F7757;
}

.anchorPaneShadow{
    -fx-background-color:transparent;
}
.mainSettingsBackground{
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0.1, 0.0, 0.0);
}
.settingsBackground{
    -fx-background-color:transparent;
    /*-fx-background-color: linear-gradient(to bottom right, #fbfbfb, #f7f7f7);*/

    /*-fx-background-image: url(../images/background_bottom_1.png);*/
    /*-fx-background-repeat: repeat-x;*/
    /*-fx-background-radius: 6px;*/

    /*-fx-background-position: left bottom;*/
    /*-fx-background-size: 300px;*/

}

.scrollPaneSettingsZone > .viewport{
    -fx-background-color: linear-gradient(to bottom right, #fbfbfb, #f7f7f7);

    -fx-background-image: url(../images/background_bottom_1.png);
    -fx-background-repeat: repeat-x;
    -fx-background-radius: 0px;

    -fx-background-position: left bottom;
    -fx-background-size: 300px;
}

.check-box{
    -fx-text-fill: #4F5F56;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12px;
}

.split-pane{
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: #d7d7d7;
}
.split-pane > .split-pane-divider {
    -fx-padding: 1;
    -fx-background-color: #d7d7d7;
    -fx-pref-width: 1px;
}


.labelGreen{
    -fx-text-fill: #4F5F56;
}

.radio-button > .box{
    -fx-background-color: transparent;
    -fx-border-color: #658B76;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 0.2em;
}
.radio-button > .box > .mark{
    -fx-background-color: transparent;
    -fx-background-radius: 7px;
    -fx-shape:none;
}
.radio-button:selected > .box{
    -fx-background-color: transparent;
    -fx-border-color: #658B76;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 0.2em;
}
.radio-button:selected > .box > .mark{
    -fx-background-color: #658B76;
    -fx-background-radius: 7px;
    -fx-shape:none;
    -fx-background-insets: 0 0 0 0, 0;
}