@import url("rootTheme.css");

#rootAnchorPane{
    -fx-padding: 0;
    -fx-background-color: BACKGROUND_COLOR_5;
}

.label{
    -fx-text-fill: MAIN_TEXT_COLOR_0;
}

#textFieldSearch{
    /*-fx-pref-width: 256px;*/
    -fx-pref-height: 27px;
    -fx-background-color: white;

    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-padding: 0px 10px 0px 10px;

    -fx-border-color: #EBE9E7 #EBE9E7 #838281 #EBE9E7;
    -fx-border-radius: 4px;
    -fx-border-width: 1.5px;

    -fx-background-image: url(icons/MaterialSelectionWindow/search_black.png);
    -fx-background-size: 13 13;
    -fx-background-repeat: no-repeat;
    -fx-background-position:  140  center;

    -fx-padding: 0 10px 0 0;
}

/*.titled-pane{*/

/*    -fx-pref-height: 27px;*/
/*    !*-fx-background-color: white;*!*/

/*    -fx-text-fill: black;*/
/*    -fx-font-size: 12px;*/
/*    !*-fx-padding: 0px 10px 0px 10px;*!*/

/*    -fx-border-color: #EBE9E7 #EBE9E7 #838281 #EBE9E7;*/
/*    -fx-border-radius: 4px;*/
/*    -fx-border-width: 1.5px;*/

/*    !*-fx-padding: 0px 0px 0px 3px*!*/

/*}*/

.titled-pane .title{
    -fx-background-color: white;
    -fx-border-color: transparent;

        -fx-border-color: #EBE9E7 #EBE9E7 #838281 #EBE9E7;
        -fx-border-radius: 4px;
        -fx-border-width: 1.5px;
}

/*#listViewInProject{*/
/*    -fx-background-color: BACKGROUND_COLOR_5;*/
/*}*/

/*#listViewAnalog{*/
/*    -fx-background-color: BACKGROUND_COLOR_1;*/
/*    -fx-border-radius: 6px;*/
/*}*/

.list-view {
    -fx-background-color: BACKGROUND_COLOR_5; /* Default color */
    -fx-padding: 0;
}

.list-cell {
    -fx-background-color: BACKGROUND_COLOR_5;
    -fx-text-fill: MAIN_TEXT_COLOR_0;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14px;
    -fx-height: 16px;
}

.list-cell:filled {
    -fx-background-color: transparent;
    -fx-border-color: none;
    /*-fx-padding: 0;*/
}

.list-cell:filled:selected {
    -fx-background-color: #F3F2F1;
    -fx-text-fill: #8F7757;
}
.list-cell:filled:selected > #labelPriceMaterialInList {
    -fx-text-fill: #8F7757;
}

.list-cell:selected:expanded > .tree-disclosure-node > .arrow {
    /*-fx-background-color: white;*/
}

.list-cell:selected:collapsed > .tree-disclosure-node > .arrow {
    /*-fx-background-color: white;*/
}

.list-cell:selected {
    /*-fx-background-color: white;*/
}

.list-cell > .tree-disclosure-node > .arrow {
    /*-fx-background-color: TREECELL_ARROW;*/
    /*-fx-shape: null;
    -fx-background-color: null;
    -fx-background-image: url("plus_tree_icon.png");
    -fx-pref-height: 10px;
    -fx-pref-width: 10px;
    -fx-content-display: center;*/
}

.list-cell:expanded > .tree-disclosure-node > .arrow {
    /*-fx-background-color: TREECELL_ARROW;*/
    /*-fx-shape: null;
    -fx-background-color: null;
    -fx-background-image: url("minus_tree_icon.png");
    -fx-pref-height: 10px;
    -fx-pref-width: 10px;
    -fx-content-display: center;*/
}

.tree-view{
    -fx-background-color: BACKGROUND_COLOR_5;
}

.tree-view:focused {
    -fx-background-color: transparent;
}

.tree-cell {
    -fx-background-color: BACKGROUND_COLOR_5;
    -fx-text-fill: MAIN_TEXT_COLOR_0;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14px;
    -fx-height: 16px;

}


.tree-cell:filled:selected {
    -fx-background-color: #F3F2F1;
    -fx-text-fill: #8F7757;
    -fx-border-width: 0 0 0 2px;
    -fx-border-color: #89B79D;
}

.tree-cell:collapsed{

    -fx-content-display: text-only;

}

.tree-cell > .tree-disclosure-node > .arrow{

    -fx-pref-width: 10px;
    -fx-pref-height: 10px;
    -fx-background-color: transparent;
}
.tree-cell:filled:selected > .tree-disclosure-node > .arrow{

    -fx-background-color: transparent;
}

.tree-cell:expanded > .tree-disclosure-node > .arrow{

    -fx-rotate: 0deg;
    -fx-background-color: transparent;
    -fx-background-image: url(icons/MaterialSelectionWindow/arrow_expanded.png);
    -fx-background-size: 10px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-shape: none;
}

.tree-cell:collapsed > .tree-disclosure-node > .arrow{

    -fx-background-color: transparent;
    -fx-background-image: url(icons/MaterialSelectionWindow/arrow_collapsed.png);
    -fx-background-size: 10px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-shape: none;
}

.tree-cell:selected:expanded > .tree-disclosure-node{
    /*-fx-background-image: url(icons/plus.png);*/
}
.tree-cell:selected:expanded > .tree-disclosure-node > .arrow {
    /*-fx-shape: none;*/
    /*-fx-background-image: url(icons/MaterialSelectionWindow/arrow_expanded.png);*/
    /*-fx-background-color: transparent;*/
}

.tree-cell:selected:collapsed > .tree-disclosure-node > .arrow {
    /*-fx-shape: none;*/
    /*-fx-background-color: transparent;*/
    /*-fx-background-image: url(icons/MaterialSelectionWindow/arrow_collapsed.png);*/
}

.tree-cell:selected {
    /*-fx-background-color: white;*/
}

.tree-cell > .tree-disclosure-node > .arrow {
    /*-fx-background-color: TREECELL_ARROW;*/
    /*-fx-shape: null;
    -fx-background-color: null;
    -fx-background-image: url("plus_tree_icon.png");
    -fx-pref-height: 10px;
    -fx-pref-width: 10px;
    -fx-content-display: center;*/
}

.tree-cell:expanded > .tree-disclosure-node > .arrow {
    /*-fx-background-color: TREECELL_ARROW;*/
    /*-fx-shape: null;
    -fx-background-color: null;
    -fx-background-image: url("minus_tree_icon.png");
    -fx-pref-height: 10px;
    -fx-pref-width: 10px;
    -fx-content-display: center;*/
}



.choice-box{

    -fx-background-color: white;
    -fx-pref-height: 27px;
    -fx-text-fill: black;
    -fx-font-size: 11px;
    /*-fx-padding: 0px 10px 0px 10px;*/

    -fx-border-color: #EBE9E7 #EBE9E7 #838281 #EBE9E7;
    -fx-border-radius: 4px;
    -fx-border-width: 1.5px;

}

#btnApply{
    -fx-text-fill: MAIN_TEXT_COLOR_3;
    -fx-background-color: BACKGROUND_COLOR_3;
    /*-fx-background-color: #d5d5d5;*/
    -fx-border-width: 0px;
    -fx-background-radius: 2px;
    -fx-font-size: 14px;

    /*-fx-text-fill: black;*/
}

#btnApply:hover{
    -fx-background-color: #c4c4c4;
}
#btnApply:pressed{
    -fx-background-color: #706e6e;
}

.labelName{
    -fx-font-size: 12;
    -fx-text-fill: #4F5F56;
}
.labelInfo{
   -fx-text-fill: #8F7757;
}

.labelGreen{
    -fx-text-fill: #4F5F56;
}

.labelPrice{
    -fx-text-fill: #4F5F56;
    -fx-font-size: 17px;
    -fx-font-weight: normal;
    -fx-font-family: "Segoe UI Semibold";
}


#btnAnalogShowHide {
    /*     -fx-background-repeat: no-repeat ;
         -fx-background-image: url(icons/cut_view.png);
         -fx-min-height: 25px;
         -fx-min-width: 25px;
         -fx-max-height: 28px;
         -fx-max-width: 100px;
         -fx-pref-width: 100px;
         -fx-background-position: 75,0,0,0;
         -fx-text-alignment: right;
         -fx-border-color : #646464;
         -fx-border-radius: 5.0px;
         -fx-background-radius: 5.0px;
         -fx-label-padding: 0;
         -fx-content-display: left;*/
}

#labelSelectedMaterialPart1 {
    -fx-font-weight: bold;
}

#labelSelectedMaterialPart2 {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-border-width: 0 0 2 0;
    /*        -fx-border-radius: 5.0px;
            -fx-background-radius: 5.0px;
            -fx-background-color: #4C5052;*/
    -fx-border-color: #646464;
    -fx-alignment: center;
}


#labelPriceMaterialInList {
    -fx-font-weight: bold;
    -fx-text-fill: #4F5F56;
    /*-fx-border-radius: 5.0px;*/
    /*-fx-background-radius: 5.0px;*/
    /*-fx-background-color: #4C5052;*/
    /*-fx-border-color: #646464;*/
    -fx-alignment: center-right;
}



/*#anchorPaneCellItemMaterialsInProject{*/
/*    !*-fx-border-color: MAIN_COLOR_DARK;*!*/
/*    !*-fx-border-width: 1 0 1 0;*!*/
/*    !*-fx-border-style: solid inside;*!*/
/*    -fx-background-color: MAIN_COLOR_LIGHT ;*/
/*}*/

/*.list-view {*/
/*    !*-fx-padding: 3px ;*!*/
/*    -fx-background-color: MAIN_COLOR_DARK ;*/

/*    -fx-border-width: 1;*/
/*    -fx-border-style: solid inside;*/
/*    -fx-border-color: MAIN_COLOR_LIGHT;*/
/*}*/

/*.list-cell {*/
/*    -fx-padding: 0px 0px 2px 0px ;*/
/*    -fx-background-color: transparent, -fx-background ;*/
/*    -fx-background-insets: 0px, 2px ;*/
/*}*/

/*.list-cell:empty {*/
/*    -fx-padding: 2px ;*/
/*    -fx-background-color: transparent ;*/
/*    -fx-background-insets: 0 ;*/
/*}*/

/*.list-cell:selected {*/
/*    -fx-background-color: MAIN_COLOR_DARK ;*/
/*}*/



/* BUTTONS */
#btnSearchDown, #btnSearchUp, #btnEditProjectMaterial, #btnRemoveProjectMaterial, .btnToFromProject {
    -fx-border-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px 20px;
    -fx-min-height: 25px;
    -fx-min-width: 25px;
    -fx-max-height: 25px;
    -fx-max-width: 25px;
    -fx-background-radius: 2.0px;
    -fx-background-color: null;
}

.btnToFromProject{
    -fx-background-size: 23px 23px;
}

#btnSearchDown:hover, #btnSearchUp:hover, #btnEditProjectMaterial:hover, #btnRemoveProjectMaterial:hover, btnToFromProject:hover{
    -fx-background-color: #666666;
}
#btnSearchDown:pressed, #btnSearchUp:pressed, #btnEditProjectMaterial:pressed, #btnRemoveProjectMaterial:pressed, btnToFromProject:hover{
    -fx-background-color: #878787;
}

#btnSearchDown {
    -fx-background-image: url(icons/MaterialSelectionWindow/arrow_down_black.png);
}
#btnSearchUp {
    -fx-background-image: url(icons/MaterialSelectionWindow/arrow_up_black.png);
}
#btnEditProjectMaterial {
    -fx-background-image: url(icons/MaterialSelectionWindow/edit.png);
}
#btnRemoveProjectMaterial {
    -fx-background-image: url(icons/MaterialSelectionWindow/remove.png);
}

#btnToProject {
    -fx-background-image: url(icons/MaterialSelectionWindow/arrow_right_brown.png);
}

#btnFromProject {
    -fx-background-image: url(icons/MaterialSelectionWindow/arrow_left_brown.png);
}