
#anchorPaneRoot{
    -fx-background-color: BACKGROUND_COLOR_1;
    -fx-pref-height: 261px;
    -fx-pref-width: 490px;
    -fx-border-color: MAIN_BORDER_COLOR_3;
    -fx-border-radius: 7px;
    -fx-border-width: 2px;
    -fx-background-radius: 7px;


}

#imageView{


}

/*#labelHeader{*/

/*}*/

#labelHeader{
    -fx-text-fill:  MAIN_TEXT_COLOR_0;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

.greenLabel{
    -fx-text-fill:  MAIN_TEXT_COLOR_2;
}


#labelPrice{
    -fx-text-fill:  MAIN_TEXT_COLOR_2;
}


#btnMinus, #btnPlus{
    -fx-padding: 0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 11px;
    -fx-background-color: null;
    -fx-border-color: null;
}
#btnMinus{
    -fx-background-image: url(../icons/minus.png);
}
#btnPlus{
    -fx-background-image: url(../icons/plus.png);
}

#btnMinus:hover, #btnPlus:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

#btnMinus:pressed, #btnPlus:pressed{
    -fx-background-color: #bebbbb;
}

#labelQuantity{
    -fx-border-color: MAIN_BORDER_COLOR_1 MAIN_BORDER_COLOR_1 MAIN_BORDER_COLOR_2 MAIN_BORDER_COLOR_1;
    -fx-border-radius: 5px;
    -fx-text-fill: MAIN_TEXT_COLOR_1;
    -fx-font-size: 16px;
}


#btnDelete, #btnEdit {
    -fx-padding: 0px;
    -fx-background-color: null;

    -fx-background-repeat: no-repeat;
    -fx-label-padding: 0px 0px 0px 12px;
    -fx-background-position: 2, 0, 0, 0;
    -fx-background-size: 20px;
    -fx-text-alignment: right;
    -fx-border-color: none;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-font-size: 14px;
    -fx-text-fill: black;


    /*-fx-background-color: grey;*/
    /*-fx-effect: dropshadow(one-pass-box, grey, 100, 0.5, 10, 0);*/

}
#btnDelete{
    -fx-background-image: url(../icons/trash.png);
}

#btnEdit{
    -fx-background-image: url(../icons/pencil.png);
}

#btnDelete:hover, #btnEdit:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

#btnDelete:pressed, #btnEdit:pressed{
    -fx-background-color: #bebbbb;
}