

#anchorPaneRoot {
    -fx-padding: 0;
    -fx-background-color: MAIN_COLOR_DARK;
}


#toggleButtonJointType1, #toggleButtonJointType2, #toggleButtonJointType3, #toggleButtonJointType4 {
    -fx-base: transparent
}

#toggleButtonJointType1:selected, #toggleButtonJointType2:selected,
#toggleButtonJointType3:selected, #toggleButtonJointType4:selected {
    -fx-background-color: -fx-focus-color;
}

#toggleButtonJointType1:selected:focused, #toggleButtonJointType2:selected:focused,
#toggleButtonJointType3:selected:focused, #toggleButtonJointType4:selected:focused {
    -fx-background-color: -fx-focus-color;
}


#labelPrice {
    -fx-font-weight: bold;
}

